.container  
  %h1 Volunteers
  %table.table.table-striped
    %tr.h4
      %th Name
      %th Email
      %th Phone
      %th
      %th
    - @volunteers.each do |volunteer|
      -unless volunteer.temp
        %tr
          %td= volunteer.name
          %td= volunteer.email
          %td= volunteer.phone
          %td= link_to 'Edit', edit_volunteer_path(volunteer)
          %td= link_to 'Delete', volunteer, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %tr
      %td
        %b= link_to 'New Volunteer', new_volunteer_path
      %td
      %td
      %td
      %td
