= form_for(@event) do |f|
  - if @event.errors.any?
    %div#error_explanation
      %h2
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved:
      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  %div.field
    = f.label :title
    %br
    = f.text_field :title
  %div.field
    = f.label :description
    %br
    = f.text_area :description
  %div.field
    = f.label :time
    %br
    = f.datetime_select :time
  %div.actions
    = f.submit