<<<<<<< HEAD
%h1 Editing event

= render 'form'

= link_to 'Show', @event
= link_to 'Back', events_path
=======
= render 'layouts/banner'
.container
	%h1 Edit event
	= render 'form'
	= link_to 'Cancel', events_path
>>>>>>> ea68770424aee7a4378c6ce419a0e46466d1789f
