.container
	%h1 Upcoming Events
	%br
	%table.table.table-striped
		%tr.h4
			%th Name
			%th Description
			%th Date
			%th Notify me
			%th
			%th
		- @events.each do |event|
			%tr
				%td= link_to event.title, event
				%td= link_to event.description, event
				%td= link_to event.time.to_date, event
				%td
					- if @notifies.include?(event.id)
						You will be notified when volunteers confirm their attendance
					- else
						= link_to 'Notify me when volunteers confirm their attendance', event_create_reminder_path(event)
				%td= link_to 'Edit', edit_event_path(event)
				%td= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }
		%tr
			%td
				%strong
					= link_to 'New Event', new_event_path
			%td
			%td
			%td
			%td
			%td
	%td= link_to 'Past Events', old_path, :class => 'btn btn-default'
