= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'

= form_for([@event, @shift]) do |f|
  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :description
    %br
    = f.text_area :description
  .field
    = f.label :start
    %br
    = f.datetime_select :start
  .field
    = f.label :end
    %br
    = f.datetime_select :end
  %br

  .field
    %label Volunteers
    %select{:id => 'shift_volunteers', :name => 'shift_volunteers'}
      %option{:class => 'volunteer_selection', :id => nil, :name => '', :email => '', :phone => ''}
        New Volunteer...
      %option{:disabled => true}
        = nil
      = Volunteer.all.map do |volunteer|
        - if volunteer.name == Volunteer.find(@shift.volunteer_id).name
          %option{:class => 'volunteer_selection', :id => volunteer.id, :name => volunteer.name, :email => volunteer.email, :phone => volunteer.phone, :selected => 'selected'}
            = volunteer.name
        - else
          %option{:class => 'volunteer_selection', :id => volunteer.id, :name => volunteer.name, :email => volunteer.email, :phone => volunteer.phone}
            = volunteer.name
  .field
    %label Volunteer Name
    %br
    %input{:type => 'text', :id => 'volunteer_name', :name => 'volunteer_name'}
  .field
    %label Volunteer Email
    %br
    %input{:type => 'text', :id => 'volunteer_email', :name => 'volunteer_email'}
  .field
    %label Volunteer Phone
    %br
    %input{:type => 'text', :id => 'volunteer_phone', :name => 'volunteer_phone'}
  .field
    %input{:hidden => true, :id => 'volunteer_id', :name => 'volunteer_id'}
  .actions
    = f.submit