.container
  .row
    .col-sm-10
      %h1
        =@event.title
    .col-sm-2
      %br
      = link_to 'Edit Event Info', edit_event_path(@event), :class => "btn btn-default"
  .row
    .col-sm-12
      %b
        Date:
        = @event.time.to_date
  .row
    .col-sm-12
      %p
        %b
          Description:
          = @event.description
  %br
  .row
    .col-sm-12
      %h4 Event Shifts
  %table.table
    %tr
      %th Name
      %th Notes
      %th Time
      %th Volunteer
      %th Contact Info
      %th Attendance
      %th
      %th
    - @shifts.each do |shift|
      %tr
        %td= shift.title
        %td= shift.description
        %td
          = shift.start.strftime("%I:%M%p")
          \-
          = shift.end.strftime("%I:%M%p")
        %td
          - if !shift.volunteer.nil?
            = shift.volunteer.name
        %td
          - if !shift.volunteer.nil?
            = shift.volunteer.email
        %td Have they confirmed?
        %td= link_to 'Edit.', edit_event_shift_path(@event, shift)
        %td= link_to 'Delete', event_shift_path(@event, shift), method: :delete, data: { confirm: 'Are you sure?' }
    %tr
      %td= link_to 'New Shift', new_event_shift_path(@event)
      %td
      %td
      %td
      %td
      %td
      %td
      %td
  %br
  = link_to 'Back to Event List', events_path, :class => "btn btn-default"