%h1 Listing shifts

%table
  %tr
    %th Title
    %th Description
    %th Start Time
    %th End Time

    - @shifts.each do |shift|
      %tr
        %td= shift.title
        %td= shift.description
        %td= shift.start
        %td= shift.end
        %td= link_to 'Edit', edit_event_shift_path(@event, shift)
        %td= link_to 'Delete', event_shift_path(@event, shift), method: :delete, data: { confirm: 'Are you sure?' }

%br
= link_to 'New Shift', new_event_shift_path(@event)