%html
	%head
		%title Volunteer Reminder
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		%div#topbar
			.container
				.row
					.col-sm-12
						-if user_signed_in?
							%div{:style=>"float:right;"}
								%table
									%tr
										%td
											.icon.icon-user
										%td
											%div{:style=>"margin-left:10px;margin-right:10px;"}
												= link_to current_user.name, edit_user_path(current_user), :style=>"color:white;"
												%br
												= link_to current_user.email, edit_user_path(current_user), :style=>"color:white;"
										%td
											= link_to 'Log out', destroy_user_session_path, :method => :delete, :class => "btn btn-default"
							.btn-group{:style=>"float:left;"}
								%button.btn.btn-default.dropdown-toggle{:type=>"button", "data-toggle"=>"dropdown"}
									%span.icon.icon-list
									%span.caret
								%ul.dropdown-menu{:role=>"menu"}
									%li=link_to 'Events', events_path, :class=>"top-link"
									%li=link_to 'Volunteers', volunteers_path, :class=>"top-link"
									-if current_user.is_admin?
										%li=link_to 'Users', user_index_path, :class=>"top-link"
						%h1.text-center
							= image_tag 'bell-icon-white-small.png', :size=>'50x50', :style=>"position:relative;top:-5px;"
							= link_to 'Volunteer Reminder', root_path, :class=>"top-title"
		- if flash[:success]
			.container
				.row
					.alert.alert-success{:style=>"margin-top:20px;"}
						= flash[:success]
		- if flash[:notice]
			.container
				.row
					.alert.alert-success{:style=>"margin-top:20px;"}
						= flash[:notice]
		- if flash[:warning]
			.container
				.row
					.alert.alert-danger{:style=>"margin-top:20px;"}
						= flash[:warning]
		- unless flash[:success] || flash[:notice] || flash[:warning]
			%br
		= yield
