%html
	%head
		%title Volunteer Reminder
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		-# Bootstrap
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css", :media => "all"
		= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"
	%body
		%div{:style=>"background-color:#00DDDD"}
			.container
				.row
					.col-sm-10.col-sm-offset-1
						%h2{:style => "text-align:center;"} Volunteer Reminder System
					.col-sm-1
						- if user_signed_in?
							= link_to 'Log out', destroy_user_session_path, :method => :delete, :style=>"float:right;position:relative;top:15px;", :class => "btn btn-default"
		- if flash[:notice]
			.container
				.row
					.alert.alert-success{:style=>"margin:20px;"}
						= flash[:notice]
		- elsif flash[:warning]
			.container
				.row
					.alert.alert-danger{:style=>"margin:20px;"}
						= flash[:warning]
		= yield