%html
	%head
		%title Volunteer Reminder
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		-# Bootstrap
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css", :media => "all"
		= javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"
	%body
		%div{:style=>"background-color:#00DDDD"}
			.container
				.row
					.col-sm-12
						- if user_signed_in?
							= link_to 'Log out', destroy_user_session_path, :method => :delete, :style=>"float:right;", :class => "btn btn-default"
							%p{:style=>"float:right;margin-top:9px;margin-right:20px;"}
								= current_user.email
						%h2{:style => "text-align:center;"} Volunteer Reminder System
		- if flash[:notice]
			.container
				.row
					.alert.alert-success{:style=>"margin:20px;"}
						= flash[:notice]
		- elsif flash[:warning]
			.container
				.row
					.alert.alert-danger{:style=>"margin:20px;"}
						= flash[:warning]
		= yield